.menu-admin-container{
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

.menu-admin-profile{
  background-color: rgba(254, 254, 254, 0.5);
  border: 0.1rem solid #fefefe;
  height:4rem; 
  border-radius: 2rem;
}

.menu-admin-li{
  float: right; 
}
  
#menu-admin-li{
  display: inline-block; 
  text-align: center;
}
  
.menu-admin-links{
  display: none; 
  position: absolute; 
  background-color: rgb(160, 44, 125); 
  z-index: 3; 
}

.menu-admin-links>p>a{
  padding: 0.5em 1em; 
  text-decoration: none;
  color:white;
  font-weight: bold;
}
  
#menu-admin-li:hover>.menu-admin-links{
  display: block; 
}
  
.menu-admin-links>p:hover { 
  background-color: blanchedalmond; 
}  
  
.menu-admin-links>p>a:hover{
  color: black;
}  

.menu-admin-l-info{
  display: flex;
  justify-content: center;
  align-items: center;
}