body{
    font-family: Aref Ruqaa Ink, Arial, Helvetica, Roboto, Sans Serif; 
    /* font-size: 25px; */
    margin: 0;
    padding: 0;
    background-image: url("./assets/fondodepantalla(1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;  
}