 .navigation{
  display:flex;
  background-color:#581845;
  justify-content: space-around; 
  
 }
 
 .logo{
  
  height:10em;
  width: 12em;
  margin-left: 15rem;
 }
 
.h1{justify-content: center;
   align-items: center;
   margin-left: 10rem;
   font-size: 3rem;
  
}

.menu-profile{
  background-color:#581845;;
  height:4rem;
 


}

 
 .menu-container {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
 
 } 
 
 .menu{
  float: right ; 
  }

#menu {
  display: inline-block; 

}

.navlink{
  display: none; 
  position: absolute; 
  background-color: rgb(105, 86, 121); 
  color:black;
  z-index: 3; 
}

#menu:hover>.navlink{
  display: block; 
}

.p{
  padding: 0.5em 1em; 
  text-decoration: none; 
  display: block; 
  text-align: center; 
  margin: 0;
  
}
  
a{ 
  text-decoration: none;
 } 
 p:hover { background-color: blanchedalmond; 

}  


 