.navigation{
  display:flex;
  background-color:#581845;
  justify-content: space-around; 
  align-items: center; 
}
 
.logo{
  height:10rem;
  width: 10rem;
}

.menu-profile{
  background-color:#581845;
  height:4rem;
}

/*Responsive NavBar*/

@media (max-width: 844px){
  .navigation{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 0.7rem;
  }

  .navigation>h1{
    text-align: center;
  }
}