.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.home-mision-section{
  background-color: rgba(244, 164, 96,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  gap: 3rem;
  border-radius: 1rem;
  width: 95vw;
}

.home-mision-paragraph>h1{
  color: #c5038a;
  text-align: center;
}

.home-mision-paragraph>p{
  text-indent: 1rem;
  text-align: justify;
  color: #50163F;
}

.home-mision-img{
  border-radius: 3rem;
  width: 18rem; 
  height: 20rem;  
}

.home-post-section{
  background-color: rgba(244, 164, 96,0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  gap: 3rem;
  border-radius: 1rem;
  width: 95vw;
}

.home-post-img{
  border-radius: 3rem;
  width: 20rem; 
  height: 20rem; 
}

.home-post-text>h1{
  color: #c5038a;
  text-align: center;
}

.home-post-text-intro{
  text-align: justify;
  color: #50163F;
}

.home-post-text-intro>p{
  text-align: center;
  font-weight: bold;
}

.home-post-text-intro>ul>li>b{
  color: #871665;
}