.profile-section{
  margin-bottom: 1rem;
}

.profile-form-title{
  text-align: center;
  background-color: #581845;
  color: #e8e8e8;
}

.profile-form-welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile-form-container{  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-form{
  background-color: rgba(147,147,147, 0.7);
  height: 60vh;
  width: 50vw;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-form-content{
  display: flex;
  flex-direction: column;  
  gap: 2rem;
  font-weight: bold;
}

.profile-form-l-i{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.profile-form-l-i>label{
  font-size: large;
  color: #A02C7D;
}

.profile-form-l-i>input{
  width: 40vw;
  height: 2.5rem;
  text-indent: 1rem;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
  border: none;
}

.profile-form-b{
  display: flex;
  justify-content: space-between;
}

.profile-form-b>button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  height: 2.5rem;
  width: 7rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #fefefe;
  border: 0.1rem solid black;
}

.profile-from-b-s:hover{
  background-color: rgba(50, 185, 50, 0.9);
  transform: translateY(-3px);
  box-shadow: 0.5rem 0.5rem rgba(112,31,88, 0.5);
}

.profile-from-b-c:hover{
  background-color: rgba(229, 50, 65, 0.9);     
  transform: translateY(-3px);
  box-shadow: 0.5rem 0.5rem rgba(112,31,88, 0.5);
}

.profile-form-b>button:active{
  transform: translateY(-1px);
  box-shadow: none;
}

/* Responsive Profile*/
@media (max-width: 844px){
  .profile-form-container{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1rem;   
  }
  
  .profile-form{
    width: 90vw;
    height: 50vh;
    margin-top: 1rem;
  }

  .profile-form-l-i{
    width: 75vw;
  }

  .profile-form-l-i>input{
    width: 75vw;
    height: 2rem;
  }
  
  .profile-form-b>button{
    margin-left: 1.5rem;
  }
}