.footer-container{
    display:row;
    justify-content: space-between;
    padding: 3.5rem;
    gap:2rem;
    align-items: center;
    background-color: #581845;
}
.footer-container >h3{
    color: #f2ca27;
}
.footer-info >h3  { 
    color: #f2ca27;
}
.footer-info >p { 
    color: #e8e8e8;
}