.login-section{
    height: 90vh;
    overflow: auto; 
    display: flex;
    justify-content: center;
}

.login-form-all{
    position: relative;
    background-color: #fefefe;
    border: 0.05rem solid black;
    margin: auto;
    padding: auto;
    height: 85vh;
    width: 91vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-form-title{
    text-align: center;
    background-color: #581845;
    color: #e8e8e8;
    margin-top: 2.3rem;
}

.login-form-container{  
    height: 70vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-form{
    background-color: rgba(147,147,147, 0.7);
    height: 60vh;
    width: 50vw;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.login-form-content{
    display: flex;
    flex-direction: column;  
    gap: 2rem;
    font-weight: bold;
}

.login-form-l-i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.login-form-l-i>label{
    font-size: large;
    color: #A02C7D;
}

.login-form-l-i>input{
    width: 40vw;
    height: 2.5rem;
    text-indent: 1rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: bold;
    border: none;
}

.login-form-b{
    align-self: flex-end;
}

.login-form-b>button{
    margin-left: 2rem;
    height: 2.5rem;
    width: 5rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #fefefe;
    border: 0.1rem solid black;
}

.login-form-b-a:hover{
    background-color: rgba(255, 210, 31, 0.9);
    transform: translateY(-3px);
    box-shadow: 0.5rem 0.5rem rgba(112,31,88, 0.5);
}

.login-form-b-c:hover{
    background-color: rgba(229, 50, 65, 0.9);
    transform: translateY(-3px);
    box-shadow: 0.5rem 0.5rem rgba(112,31,88, 0.5);
}

.login-form-b>button:active{
    transform: translateY(-1px);
    box-shadow: none;
}

/*Responsive Login*/

@media (max-width: 844px){
    .login-section{
        display: flex;
        justify-content: center;
    }

    .login-form-all{
        width: 94vw;
        height: 88vh;
    }
    
    .login-form-container{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;   
    }
    
    .login-form{
        width: 80vw;
        height: 45vh;
        margin-top: 1rem;
    }

    .login-form-l-i{
        width: 70vw;
    }

    .login-form-l-i>input{
        width: 70vw;
        height: 2rem;
    }  
}