.my-comments-all{
  margin: 2rem 0;
}

.my-comments-title{
  text-align: center;
  background-color: #581845;
  color: #e8e8e8;
}

.my-comments-content{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.my-commets-posts-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.my-comments-create-section{
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid rgba(160, 44, 125, 0.9);
  width: 100%;
  padding-bottom: 1rem;
}

.my-comments-posts-create-b{
  height: 4rem;
  width: 15rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 0.1rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 205, 205);
}

.my-comments-posts-create-b:hover{
  background-color: rgb(242, 202, 39);
  transform: translateY(-3px);
  box-shadow: 0.5rem 0.5rem rgba(112,31,88, 0.5);
}

.my-comments-posts-create-b:active{
  transform: translateY(-1px);
  box-shadow: none;
}

.my-comments-post{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.my-comments-post>img{
  width: 5rem;
  height: 5rem;
  background-color: rgb(176, 176, 176);
  border: 0.1rem solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-comments-post-info{
  height: 100%;
  background-color: rgb(210, 205, 205);
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 0.1rem solid black;
}

.my-comments-post-content{
  width: 55vw;
  height: 100%;
}

.my-comments-post-name-date{
  width: 40vw;
  height: 3vh;
  border-bottom: 0.1rem solid rgba(160, 44, 125, 0.9); 
  font-weight: bold;
}

.my-comments-post-tags{
  background-color: rgba(242, 202, 39, 0.5);
  text-indent: 1rem;
  font-style: italic;
}

.my-comments-post-tags>span{
  color: rgb(160, 44, 125);
  font-style: normal; 
}

.my-comments-link{
  text-decoration: none;
}

.my-coments-empty{
  width: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-image: linear-gradient(#000 30%, transparent 0 70%,#000 0) 2;
  padding: 2rem 0;
  text-align: center;
}

/*Responsive MyComments*/

@media (max-width: 844px){
  .my-comments-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .my-comments-avatar{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1rem;   
  }
  
  .my-comments-posts-create-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}