.category-container{
    width: 15rem;
}

.category-list{
    background-color:rgba(160,44,125, 0.9);
    font-weight: bold;
    border:0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.category-list-items{
    background-color: transparent;
    border-bottom: 1.5px solid black;   
    list-style-type: none;
    margin: 0.5rem;
}

.category-list-items>li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    filter: brightness(0) invert(1);;
}

.category-list-items-img{
    height: 1.5rem;  
}

.category-list-items:hover{
    filter: brightness(0) invert(0);
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}

.category-list-items:active{
    transform: translateY(2px);
}

/*Responsive Category*/

@media (max-width: 1364px){
    .category-container{
        width: 100%;
    }
    
    .category-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 0.9rem;
    }

    .category-list-items{
        margin: 0.2rem;
    }
}
